
p, tr{
	font-family:Tahoma, Geneva, sans-serif;
}
h1,h2,h3, th{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: 400;
}

body{
	display: block;
	background-color: #aeea00;
	width: 100%;

}

#frame{
	float : bottom;
}

#title{
	font-weight: normal;
	text-shadow:1px 1px #ffffff; 
	background-image: url("./resources/OCDBE20.jpg");
	background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
    margin : -0.5em;

}

.main_title{
	margin: auto;
	padding: 2em  1em  2em 1em;
	width: 100%;
	color:#ff6f00;
	font-size: 75px;
}

.sub-title{
	padding: 0.5em  0.1em  0.5em 0.1em;
	margin: auto;
	width: 100%;
	font-size: 28px;
	background-color: white;
	box-shadow:1px 1px 5px 1px black; 
}

.text_orange{
	color:#ff6f00;
}
.text_green{
	color:#55b93a;
}

.container {
  display: block;
  margin: auto;
  text-align: center;
  width: 95%;
  padding: 1px 1px 1px 1px;
}

.left{
	float:left;
	width: 65%;
}

.right{
	float:right;
	width: 65%;
}
.strictright{
	float:right;
	width: 48%;
	padding-right: 1em;
}

.strictleft{
	float:left;
	width: 48%;
	padding-left: 0.5em;
}

.frame{
	margin-top : 1em;
	border: 3px solid grey;
    background-color: white;
    box-shadow:1px 1px 1px 1px grey; 
}

.separator{
	width: 100%;
	padding-bottom: 1em;
}

.unfloat{
	float: none !important;
}
.hide_puce{
	list-style-type:none;
}
.videoframe{

  	padding-top: 2em;
  	text-align: center;
  	float: center;
 
}
.idea{
	display: inline-block;
	float: center;
	text-align: center;
	background-color: white;
	text-align: center;
	width: 20%;
	height: 100%;
}
.ideacontainer{
	display: inline-block;
	height: 10em;
	float: center;
}

.blank{
	background-color: transparent;
	display: inline-block;
	width: 100%
}
@media(max-width: 768px) {
	.video-cp {
		width: 250px;
		height: auto;
	}
}

.reduced{
	width:100% ;
}
