
p{
	font-family:Tahoma, Geneva, sans-serif;
}
h1,h2{
	font-family:Tahoma, Geneva, sans-serif;
}

body{
	display: block;
	background-color: #aeea00;
}

#title{
	text-shadow:1px 1px #ffffff; 
	background-image: url("./resources/OCDBE20.jpg");
	background-size: 120%;
    background-repeat: no-repeat;
    width: 110%;
    margin : -0.5em;
}

.main_title{
	margin: auto;
	padding: 2em  1em  2em 1em;
	float: center;
	width: 100%;
	color:#ff6f00;
	font-size: 45px;
}

.sub-title{
	padding: 0.2em  0.1em  0.2em 0.1em;
	margin: auto;
	width: 100%;
	font-size: 28px;
	background-color: white;
	box-shadow:1px 1px 5px 1px black; 
}

.text_orange{
	color:#ff6f00;
}
.text_green{
	color:#55b93a;
}

.container {
  display: block;
  margin: auto;
  float: center;
  text-align: center;
  width: 100%;
  padding: 3px 1px 1px 1px;
}

.half-container{
	opacity: 0.5;
	background-color: #ffffff;
	display: block;

}

.left{
	float:left;
	width: 65%;
}

.right{
	float:right;
	width: 65%;
}

.frame{
	margin-top : 1em;
	border: 3px solid grey;
    background-color: white;
    box-shadow:1px 1px 1px 1px grey; 
}

.separator{
	width: 100%
}