#navbar{
	display: inline-block;
	text-align: center;
	width: 100%;
	background-color: transparent;
	margin-top: 1em;
}
#panel{
	float:center;
}
#logo{
	position: absolute;
	left: -5px;
	top: -5px;
	margin: 0.2em; 	
	display: inline-block;
 	overflow: visible;
}
.navitem{
	display: inline-block;
	text-align: center;
	float: top;
	width: 18%;
	border: 0.5px solid #ff6f00;
	background-color: white;
	margin-bottom: 3em;
}
.textitem{
	font-weight: 450;
}
a{
	text-decoration: none;
	color: black;
}
.navitem:hover{
	background-color: #ff6f00;

}
